{#
/**
 * Support plugin for Craft CMS 3.x
 *
 * Support index.twig
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2018 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   Support
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'answers' %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}
{% set isNewAnswer = answer.id ? false : true %}

{% hook "cp.support.anwsers.edit" %}

{% block header %}
    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
        {{ block('contextMenu') }}
    </div>
    <div class="flex">
        {% if showPreviewBtn or shareUrl is defined %}
            <div class="btngroup">
                {% if showPreviewBtn %}
                    <div class="btn livepreviewbtn" data-icon="view">{{ "Preview"|t('app') }}</div>
                {% endif %}
                {% if shareUrl is defined %}
                    <a href="{{ shareUrl }}" class="btn sharebtn" data-icon="share" rel="noopener" target="_blank">{{ 'Share'|t('app') }}</a>
                {% endif %}
            </div>
        {% endif %}
        {{ block('actionButton') }}
    </div>
{% endblock %}

{% block contextMenu %}
  {% if craft.app.getIsMultiSite() %}
    {% set urlFormat = url("support/answers/#{craft.app.request.getSegment(3)}/{handle}") %}
    {% include "_elements/sitemenu" with {
      siteIds: siteIds,
      selectedSiteId: answer.siteId,
      urlFormat: urlFormat
    } only %}
  {% endif %}
{% endblock %}

{% block actionButton %}
  <div class="btngroup">
    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

    <div class="btn submit menubtn"></div>
    <div class="menu">
      <ul>
        <li>
          <a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
            {{ forms.optionShortcutLabel('S') }}
            {{ "Save and continue editing"|t('app') }}
          </a>
        </li>
        <li>
          <a class="formsubmit" data-redirect="{{ (nextAnswerUrl)|hash }}">{{ "Save and add another"|t('app') }}</a>
        </li>
        {% if not isNewAnswer %}
          <li>
            <a class="formsubmit" data-param="duplicate" data-value="1" data-redirect="{{ (continueEditingUrl~'#')|hash }}">{{ "Save as a new answer" }}</a>
          </li>
        {% endif %}
      </ul>
      {% if not isNewAnswer %}
        <hr>
        <ul>
          <li><a class="formsubmit error" data-action="support/answers/delete-answer" data-confirm="{{ 'Are you sure you want to delete this answer?' }}" data-redirect="{{ 'support/answers'|hash }}">{{ 'Delete'|t('app') }}</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}

  {{ actionInput('support/answers/save-answer') }}
  {{ redirectInput('support/answers') }}

  {% if answer.id %}
    {{ hiddenInput('answerId', answer.id) }}
  {% endif %}

  {% if craft.app.getIsMultiSite() %}
    {{ hiddenInput('siteId', answer.siteId) }}
  {% endif %}

  <div id="fields">

    {{ forms.textField({
        first:       true,
        label:       'Title' | t('app'),
        id:          'title',
        name:        'title',
        placeholder: 'Title' | t('app'),
        value:       answer.title,
        autofocus:   true,
        required:    true,
    }) }}

    {{ forms.textareaField({
        label:       'Text',
        id:          'text',
        name:        'text',
        placeholder: null,
        value:       answer.text,
        errors:      answer.getErrors('text'),
        autofocus:   false,
        required:    true,
        rows: 4,
    }) }}

    {% hook "cp.support.answers.edit.fields" %}

  </div>

{% endblock %}

{% block details %}

  <div id="settings" class="meta">
    {{ forms.lightswitchField({
      label: "Enabled"|t('app'),
      id: 'enabled',
      name: 'enabled',
      on: answer.enabled
    }) }}
  </div>

  <div class="meta read-only">

    {% if answer.authorId %}
      <div class="data">
        <div class="heading">
          Author
        </div>
        <div class="value">
          <a href="{{ ticket.author.cpEditUrl }}">{{ answer.author.name }}</a>
        </div>
      </div>
    {% endif %}

    {% if answer.id %}
      <div class="data">
          <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
          <div class="value">{{ answer.dateCreated|datetime('short') }}</div>
      </div>
      <div class="data">
          <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
          <div class="value">{{ answer.dateUpdated|datetime('short') }}</div>
      </div>
    {% endif %}
  </div>

  {% hook "cp.support.answers.edit.details" %}

{% endblock %}
