{% extends "support/_layouts/settings" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "support/_macros/settings" as macros %}

{% block content %}

  {{ forms.hidden({
      name: 'action',
      value: 'plugins/save-plugin-settings'
  })}}

  {{ forms.hidden({
      name: 'pluginHandle',
      value: plugin.handle
  })}}

  <h2 class="first">General Settings</h2>

  {{ forms.textField({
      first:        true,
      label:        'Plugin Name Override',
      instructions: 'The plugin name as you’d like it to be displayed in the CP.',
      id:           'pluginNameOverride',
      name:         'settings[pluginNameOverride]',
      placeholder:  plugin.name,
      value:        settings.pluginNameOverride,
      disabled:     'pluginNameOverride' in overrides,
      warning:      'pluginNameOverride' in overrides ? macros.configWarning('pluginNameOverride'),
  })}}

  {{ forms.textField({
      label:        'Support Email Address',
      instructions: 'The email address that ticket notification emails are sent from. Leave blank to use the System Email Address defined in Craft’s General Settings.',
      id:           'fromEmail',
      name:         'settings[fromEmail]',
      placeholder:  systemEmail,
      value:        settings.fromEmail,
      disabled:     'fromEmail' in overrides,
      warning:      'fromEmail' in overrides ? macros.configWarning('fromEmail'),
  })}}

  {{ forms.textField({
      label:        'From Name',
      instructions: 'The "From" name that will be used when sending ticket notification emails. Leave blank to use the Sender Name defined in Craft’s General Settings.',
      id:           'fromName',
      name:         'settings[fromName]',
      placeholder:  systemSender,
      value:        settings.fromName,
      disabled:     'fromName' in overrides,
      warning:      'fromName' in overrides ? macros.configWarning('fromName'),
  })}}

  {% set siteOptions = [] %}
  {% for site in craft.app.sites.getAllSites() %}
    {% set siteOptions = siteOptions|merge([{
      value: site.id,
      label: site.name,
    }]) %}
  {% endfor %}

  {% if craft.app.getIsMultiSite() %}

      {{ forms.checkboxSelectField({
          label: 'Answer Sites',
          instructions: 'Select for which sites support answers should be enabled',
          id: 'answerSites',
          name: 'settings[answerSites]',
          options: siteOptions,
          showAllOption: true,
          values: settings.answerSites,
      }) }}

      <div class="field">
          {{ forms.selectField({
              label: 'Propagation Method'|t('app'),
              instructions: 'Of the enabled sites above, which sites should support answers be saved to?'|t('app'),
              warning: settings.answerPropagationMethod != 'none' and settings.answerSites|length > 1 ? 'Changing this may result in data loss.'|t('app'),
              id: 'answerPropagationMethod',
              name: 'settings[answerPropagationMethod]',
              options: [
                  { value: 'none', label: 'Only save answers to the site they were created in'|t('app') },
                  { value: 'siteGroup', label: 'Save answers to other sites in the same site group'|t('app') },
                  { value: 'language', label: 'Save answers to other sites with the same language'|t('app') },
                  { value: 'all', label: 'Save answers to all available sites'|t('support') },
              ],
              value: settings.answerPropagationMethod
          }) }}
      </div>
  {% endif %}

{% endblock %}
